body {
    background-color: aliceblue;
}
h1 {
    color: rgb(0,153,204);
    font-size: 150%;
    font-family: sans-serif;
    border:1px dashed red;
    padding: 10px;
} 
img {
    float: right;
    margin: 10px;
    padding: 10px
}
h3 {
    color: dimgray;
    font-size: 100%
}
h3+p {
    font-style:italic;
}
.gray {
    color: dimgray;
}
.osu {
    color:darkorange
}
.mizzou {
    color:darkgoldenrod
}
footer {
    font-size: 10pt;
    clear:left;
    border:1px solid black;
    width: 40%; 
}
 
a {text-decoration: none;
        font-size: 10pt;
}
a:link {
        color: #9966cc;
}
a:visited {
        color: #ffcc33;
}
a:focus {   
        color: #9966cc;
}
a:hover {
        color: #cc0066;
}
a:active {
        color: #ffcc33;
}